#overlay {
  background: transparent;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: opacity 4s ease;
  z-index: 9999; /* Make sure it's above everything */
}

#fade-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 4s ease;
  z-index: 9999;
}

#overlayCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  pointer-events: none;
  opacity: 0;
}

#hoverCard {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  pointer-events: none;
  z-index: 100;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #555;
  position: relative;
}

.card-header h2 {
  font-size: 1.1rem;
  margin: 0;
  padding-top: 0.2rem;
}