#planetSelector {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  pointer-events: none;
  opacity: 0;
  z-index: 10;
}

#planetCenter {
  width: 140px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 2s;
  transform: rotate(-90deg);
}

#planetCenter circle {
  stroke: white;
  stroke-width: 5px;
  fill: none;
  stroke-dasharray: 314; /* Circumference of circle (2πr for r ≈ 50) */
  stroke-dashoffset: 314; /* Hidden by default */
  transition: stroke-dashoffset 2s, stroke-width 0.2s;
}

#planetCenter:hover circle {
  stroke-width: 7px;
}

.arrow {
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s ease;
}

.arrow:hover {
  transform: scale(1.2);
}

/* Sweep Animations */
.sweep-left {
  clip-path: inset(0 0 0 100%);
  animation: sweepInLeft 1s ease forwards;
}

.sweep-right {
  clip-path: inset(0 100% 0 0);
  animation: sweepInRight 1s ease forwards;
}

@keyframes sweepInLeft {
  0% {
    clip-path: inset(0 0 0 100%);
    opacity: 1;
  }
  100% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
    pointer-events: auto;
  }
}

@keyframes sweepInRight {
  0% {
    clip-path: inset(0 100% 0 0);
    opacity: 1;
  }
  100% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
    pointer-events: auto;
  }
}