
#solarSystem {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1; /* Behind the intro */
  overflow: hidden;
  transform-origin: center center;
}

#threeCanvas {
  position: absolute;
  display: block;
  top: 0;
  left: calc((50vw - 50%)*-1);
  transform: translateX(calc(50vw - 50%));  
  width: 100%;
  height: 100%;
  transition: border-radius 1.2s ease-in-out;
  z-index: 50;
  border-radius: 0%;
  pointer-events: none; /* Enable when clickable */
}
